.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-course-status {
  margin-top: 20px;
}

.wd-course-status a {
  color: red;
  text-decoration: none;
}

.wd-small-header {
  background-color: black;
  color: white;
}

.wd-small-header i {
  color: white;
  text-decoration: none;
}

.wd-course-status button {
  width: 100%;
  text-align: left;
}

.wd-small-kanbas-navigation a {
  color: red;
  text-decoration: none;
  margin-bottom: 30px;
}
